@model MeriMudra.Models.UserLoanApplyDetail

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<MeriMudra.Models.ApplicationStatus> appStatus = ViewBag.ApplicationStatus;
    List<MeriMudra.Models.City> citys = (List<MeriMudra.Models.City>)ViewData["city"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            <div class="card">
                <div class="card-header">User Loan Apply Detail</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployerType, htmlAttributes: new { @for = "EmployerType" })
                                @*@Html.EditorFor(model => model.EmployerType)*@
                                <select class="form-control" name="EmployerType">
                                    <option value="False">Salaried</option>
                                    <option value="True">Self-employed</option>
                                </select>

                                @Html.ValidationMessageFor(model => model.EmployerType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @for = "CompanyName" })
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.GrossIncomeOrNetSalary, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.GrossIncomeOrNetSalary, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GrossIncomeOrNetSalary, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @{
                                    var DateOfBirth = Convert.ToDateTime(DateTime.Now).ToString("MM/dd/yyyy").Replace("-", "/");
                                }
                                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "" })
                                <select name="CityId" class="form-control">
                                    @foreach (var city in citys)
                                    {
                                        
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.isMobileNumberVerify, htmlAttributes: new { @class = "" })
                                <select class="form-control" name="isMobileNumberVerify">
                                    <option value="True">Verified</option>
                                    <option value="False">Not verified</option>
                                </select>

                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                           
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.isEmailVerify, htmlAttributes: new { @class = "" })
                                <select class="form-control" name="isEmailVerify">
                                    <option value="True">Verified</option>
                                    <option value="False">Not verified</option>
                                </select>

                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CreditCardMaxLimit, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.CreditCardMaxLimit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreditCardMaxLimit, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Intended_loan_amount, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.Intended_loan_amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Intended_loan_amount, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.isUserActive, htmlAttributes: new { @class = "" })
                                <select class="form-control" name="isUserActive">
                                    <option  value="True">Active</option>
                                    <option   value="False">Not active</option>
                                </select>
                               
                            </div>
                            <div class="col-md-6">
                                <label>Application Status</label>
                                <select class="form-control" name="ApplicationStatusId">
                                    @foreach (var status in appStatus)
                                    {
                                        <option value="@status.StatusId">@status.Status</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.ApplicationStatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6" style="padding-right:0;padding-left:0;">
                                <div class="col-md-2" style="padding-right:0;padding-left:0;">
                                    <input type="submit" value="Create" class="btn btn-primary btn-block">
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right:0;padding-left:0;float:right;">
                                <div class="col-md-2" style="padding-right:0;padding-left:0;float:right;">
                                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary btn-block" })
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
                                    }
    
   
</body>
</html>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".nav-item").removeClass("active");
            $("#Loan-Applications").addClass("active");
        });
    </script>
}