@model MeriMudra.Areas.Admin.Models.User

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meri mudra</title>
    <!-- Bootstrap core CSS-->
    <link href="@Url.Content("~/Areas/Admin/Template/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Template/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/Template/css/sb-admin.css")" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", placeholder = "Login Name", autocomplete = "false" } })
                        @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password", autocomplete = "false" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary btn-block" />
                }  <div class="text-center">
                    @*<a class="d-block small" href="Login/forgotpassword">Forgot Password?</a>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/Areas/Admin/Template/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Template/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- Core plugin JavaScript-->
    <script src="@Url.Content("~/Areas/Admin/Template/vendor/jquery-easing/jquery.easing.min.js")"></script>
</body>
</html>
