@model MeriMudra.Models.detailsForApplyCard
<!DOCTYPE html>
<!-- saved from url=(0136)http://merimudra.com/home/creditcard -->
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <!--     Fonts and icons     -->
    <link href="~/Areas/Admin/Template/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/wizardjs/bbotstrap-datepicker.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">*@
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link href="~/wizardjs/jqueryui.css" rel="stylesheet" />
    <link href="~/wizardjs/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/wizardjs/font-awesome.min.css">*@
    <!-- CSS Files -->
    <link href="~/wizardjs/bootstrap.min.css?123" rel="stylesheet">
    <link href="~/wizardjs/material-bootstrap-wizard.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link href="~/wizardjs/Multiselect/multiselect.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/wizardjs/demo.css" rel="stylesheet">
    <style>
        .sprite-bank-CC {
            background-image: url(https://bankbazaar.com/images/sprite/sprite-ex-cc-mob-v3.png);
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            background-position: 0 300px;
        }

        .CC-American-Express {
            background-position: -130px -130px;
        }

        .CC-Axis {
            background-position: -2px -2px;
        }

        .CC-CITI {
            background-position: -2px -66px;
        }

        .CC-HDFC {
            background-position: -66px -2px;
        }

        .CC-ICICI {
            background-position: -66px -66px;
        }

        .CC-SBI {
            background-position: -130px -66px;
        }

        .CC-None {
            background-position: -66px -130px;
        }

        .CC-Other {
            background-position: -2px -130px;
        }

        .sprite-bank-desk {
            background-image: url('../../wizardjs/sprite-bank-mob-v1.png');
            background-repeat: no-repeat;
            display: inline-block;
            width: 68px;
            height: 68px;
            background-position: 0 150px;
            vertical-align: middle;
        }

        .icon-bank-Axis {
            background-position: -5px -5px;
        }

        .icon-bank-HDFC {
            background-position: -75px -6px;
        }

        .icon-bank-CITI {
            background-position: -145px -6px;
        }

        .icon-bank-Kotak-Mahindra {
            background-position: -6px -75px;
        }

        .icon-bank-ICICI {
            background-position: -75px -75px;
        }

        .icon-bank-IDBI {
            background-position: -215px -75px;
        }

        .icon-bank-SBI {
            background-position: -5px -145px;
        }

        .icon-bank-OTHER {
            background-position: -74px -145px;
        }

        .sprite-city {
            background-image: url('../../wizardjs/sprite-city-tab.png');
            /*background-image: url('../../wizardjs/sprite-city.png');*/
            width: 75px;
            height: 88px;
            background-repeat: no-repeat;
            display: inline-block;
            background-position: -190px -3px;
            vertical-align: middle;
        }

        .icon-city-mumbai {
            background-position: -99px -106px;
        }

        .icon-city-chennai {
            background-position: -99px -8px;
        }

        .icon-city-new-delhi {
            background-position: -8px -106px;
        }

        .icon-city-bangalore {
            background-position: -8px -8px;
        }

        .icon-city-other, .icon-city-default {
            background-position: -190px -3px;
        }

        input[type=radio], input[type=checkbox] {
            display: none;
        }

            input[type=radio] + label, input[type=checkbox] + label {
                display: inline-block;
                margin: -2px;
                padding: 4px 12px;
                margin-bottom: 0;
                font-size: 14px;
                line-height: 20px;
                color: #333;
                text-align: center;
                text-shadow: 0 1px 1px rgba(255,255,255,0.75);
                vertical-align: middle;
                cursor: pointer;
                background-color: #f5f5f5;
                background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
                background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
                background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
                background-image: -o-linear-gradient(top,#fff,#e6e6e6);
                background-image: linear-gradient(to bottom,#fff,#e6e6e6);
                background-repeat: repeat-x;
                border: 1px solid #ccc;
                border-color: #e6e6e6 #e6e6e6 #bfbfbf;
                border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
                border-bottom-color: #b3b3b3;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
            }

            input[type=radio]:checked + label, input[type=checkbox]:checked + label {
                background-image: none;
                outline: 0;
                -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
                -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
                box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
                background-color: #4caf50;
                color: white;
            }
    </style>
</head>
<body>
    @{ string baseurl = "";
            if (HttpContext.Current.Request.ApplicationPath == "/")
            {
                baseurl = string.Format("{0}://{1}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Authority);
            }
            else
            {
                baseurl = string.Format("{0}://{1}{2}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Authority, HttpContext.Current.Request.ApplicationPath);
            }}
    <span style="display: none" id="baseURL">@baseurl</span>
    @{
        var dateTime = DateTime.Now;
        // var IRT = (dateTime.Month >= 4 ? dateTime.Year + 1 : dateTime.Year);
        var ITR = dateTime.Month <= 3 ? (dateTime.Year - 1).ToString() + "-" + dateTime.Year : dateTime.Year + "-" + (dateTime.Year + 1).ToString();
    }
    @*<img src="~/wizardjs/wizard-book.jpg" />*@
    <div class="image-container set-full-height" style="background-image: url(/wizardjs/wizard-book.jpg); height: auto;">
        <!--   Creative Tim Branding   -->
        <!--  Made With Material Kit  -->
        <a href="http://merimudra.com">
            <div class="logo-container">
                <div class="logo" style="border-radius:100%;border:0;width:70px">
                    <img src="~/images/logo.png" />
                </div>
                <div class="brand">
                    Meri Mudra
                </div>
            </div>
        </a>
        @*<a href="http://merimudra.com" class="made-with-mk">
                <div class="brand" style="color:green;">
                   MM</div>
                <div class="made-with">Made with <strong>Meri Mudra</strong></div>
            </a>*@
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizard">
                            <form action="http://merimudra.com/home/creditcard" id="from_data" method="" novalidate="novalidate">
                                <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

                                <input type="hidden" name="Id" id="Id" value="0" />
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Apply For Loan
                                    </h3>
                                    <h5>This information will let us know more about you.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul class="nav nav-pills">
                                        @*<li class="active"><a href="http://merimudra.com/home/creditcard#City" data-toggle="tab" aria-expanded="true">City</a></li>*@

                                        @*<li class=""><a href="http://merimudra.com/home/creditcard#income" data-toggle="tab" aria-expanded="false">Income</a></li>*@
                                        <li class=""><a href="#Company" data-toggle="tab" aria-expanded="false">Company</a></li>
                                        <li class=""><a href="#Profile_Detail" data-toggle="tab" aria-expanded="false">Profile</a></li>
                                        <li class=""><a href="#savings_bank_accounts" data-toggle="tab" aria-expanded="false">Accounts</a></li>
                                        @*<li class=""><a href="#" aria-expanded="false">Company</a></li>
                                            <li class=""><a href="#" aria-expanded="false">Profile</a></li>
                                            <li class=""><a href="#" aria-expanded="false">Accounts</a></li>*@
                                    </ul>
                                    <div class="moving-tab" style="width: 250px; transform: translate3d(-8px, 0px, 0px); transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">Account</div><div class="moving-tab" style="width: 250px; transform: translate3d(-8px, 0px, 0px); transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">Account</div>
                                </div>

                                <div class="tab-content">

                                    <div class="tab-pane active" id="Company">
                                        <h4 class="info-text">Company I work for </h4>
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-1" style="text-align:center">
                                                <input type="hidden" value="true" name="EmployerType" id="hdnRadio" />
                                                <input type="radio" id="employed_radios1" name="employed_radios" value="1" checked="">
                                                <label onclick="SClick(1);" for="employed_radios1">Salaried</label>
                                                <input type="radio" id="employed_radios2" name="employed_radios" value="2">
                                                <label onclick="SClick(2);" for="employed_radios2">Self-employed</label>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1" style="text-align:center">
                                                <input type="text" id="ComapanyName" required="true" name="CompanyName" class="form-control" placeholder="Company Name" />
                                            </div>

                                            <div class="col-sm-10 col-sm-offset-1" style="text-align:center">
                                                <input type="text" id="Income" required onkeypress="return ValidateDecimal(event, this);" name="GrossIncomeOrNetSalary" class="form-control" placeholder="My net monthly salary is" />
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1" style="text-align:center;display:none;" id="ITR">
                                                ITR @Html.Raw(ITR)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="Profile_Detail">
                                        <input type="hidden" value="@ViewBag.id" name="LoanType" />
                                        <div class="row">
                                            @*<h4 class="info-text"> My existing credit cards are with</h4>*@
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.8em;" class="fa fa-user"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">My Name</label>
                                                        <input required name="Name" autocomplete="off" type="text" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.8em;" class="fa fa-calendar"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Date Of Birth</label>
                                                        <input required name="DOB" readonly autocomplete="off" type="text" id="dateOfBirth" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.8em;" class="fa fa-home"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">My city</label>
                                                        <input required name="CityName" id="my_city" type="text" autocomplete="off" class="form-control">
                                                        <input type="hidden" value="0" name="CityId" id="hdnCityId" />
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.8em;" class="fa fa-map-marker"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Pin code</label>
                                                        <input required name="PinCode" onkeypress="return ValidateDecimal(event, this);" type="text" autocomplete="off" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.8em;" class="fa fa-mobile-phone"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">My Mobile No</label>
                                                        <input required name="MobileNumber" autocomplete="off" type="number" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.8em;" class="fa fa-eye"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">OTP</label>
                                                        <input name="OTP" disabled autocomplete="off" type="text" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.3em;" class="fa fa-envelope"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">My email</label>
                                                        <input required name="email" type="email" autocomplete="off" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i style="font-size: 1.3em;" class="fa fa-money"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Intended loan amount</label>
                                                        <input required name="Intended_loan_amount" onkeypress="return ValidateDecimal(event, this);" type="text" autocomplete="off" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane wizard-data" id="savings_bank_accounts">
                                        <div class="row">
                                            @*<h4 class="info-text" id="infoText"> I have savings bank accounts with</h4>*@
                                            <div class="col-sm-12">
                                                <h5 class="info-text" style="margin:10px;">Account With</h5>
                                                <div id="select7" class="select7_container">
                                                    <div class="select7_arrow">&#9662;</div>
                                                    <div class="select7_placeholder">select your bank</div>
                                                    <input type="hidden" name="AccountWith" value="0" />
                                                    <input type="hidden" name="AccountWith" value="0" />
                                                    <select class="select7_select" name="" onchange="add_selected_item1(this, event);">
                                                        <option class="select7_hide" value="filler"></option>
                                                        @foreach (var item in Model.Banks)
                                                        {
                                                            <option value="@item.BankId">@item.Name</option>
                                                            /**/
                                                        }
                                                    </select>
                                                    <div class="select7_items"></div>
                                                </div>
                                                <h5 class="info-text" style="margin:10px;">My Existing Credit Card and its Max Limit</h5>
                                                <div id="select7" class="select7_container">
                                                    <div class="select7_arrow">&#9662;</div>
                                                    <div class="select7_placeholder">select your bank</div>
                                                    <input type="hidden" name="CreditCardWith" value="0" />
                                                    <input type="hidden" name="CreditCardWith" value="0" />
                                                    <select class="select7_select" name="" onchange="add_selected_item2(this, event);">
                                                        <option class="select7_hide" value="filler"></option>
                                                        @foreach (var item in Model.CreditCards)
                                                        {
                                                            <option value="@item.CardId">@item.CardName</option>
                                                            /**/
                                                        }
                                                    </select>
                                                    <div class="select7_items"></div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons"></i>
                                                    </span>
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">My Credit Card Max Limit</label>
                                                        <input onkeypress="return ValidateDecimal(event, this);" required name="CreditCardMaxLimit" type="number" autocomplete="off" class="form-control">
                                                        <span class="material-input"></span>
                                                    </div>
                                                </div>
                                                <div class="radio">
                                                    My Current or Previous Loan<br />
                                                    <label style="color:rgb(0, 0, 0);">
                                                        Yes
                                                        <input type="radio" value="1" name="CurrentOrPrevLoan"><span class="radio-material"></span>
                                                    </label>
                                                    <label style="color:rgb(0, 0, 0);">
                                                        No
                                                        <input type="radio" value="0" name="CurrentOrPrevLoan"><span class="radio-material"></span>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type="button" class="btn btn-next btn-fill btn-danger btn-wd" name="next" value="Next" style="">
                                        <input type="button" class="btn btn-finish btn-fill btn-danger btn-wd" name="finish" value="Finish" style="display: none;">
                                    </div>
                                    <div class="pull-left">
                                        <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">

                                        <div class="footer-checkbox" style="opacity: 1; visibility: visible; position: absolute;">
                                            <div class="col-sm-12">
                                                @*<div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"></span>
                                                        </label>
                                                        Subscribe to our newsletter
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->
        <div class="footer">
            <div class="container text-center">
                Meri Mudra - India`s No. 1 Marketplace for Loans and Credit Cards. Our aim is to make personal finance decisions easy, convenient and transparent for our customers. We are working in 120 cities and towns across India <a href="http://merimudra.com/">Meri Mudra</a>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->

    <script src="~/wizardjs/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="~/wizardjs/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/wizardjs/jquery.bootstrap.js" type="text/javascript"></script>
    <script src="~/wizardjs/demo.js" type="text/javascript"></script>
    <script src="~/wizardjs/material-bootstrap-wizard_Loan.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/wizardjs/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/wizardjs/jquery.form.js"></script>
    <script src="~/wizardjs/Multiselect/multiselect.js"></script>
    <script src="~/wizardjs/CreditCard.js"></script>

    <script src="~/wizardjs/bbootstrap-datepicker.js"></script>
    <script>

        function SClick(s) {
            var type = true;
            if (s == 1) {

                $("#savings_bank_accounts #infoText").html("My salary is deposited to");
                $("#savings_bank_accounts .choice").attr("data-toggle", "wizard-radio");
                $("#savings_bank_accounts[name=job]").attr("type", "radio");
                //$("#ComapanyName").removeAttr("readonly");
                //$("#ComapanyName").attr("placeholder", "Company Name");
                $("#Income").attr("placeholder", "My net monthly salary is");
                $("#ITR").hide();
                //$("#ComapanyName").attr("required", "true");

            } else {
                type = false;
                $("#savings_bank_accounts #infoText").html("I have savings bank accounts with");
                $("#savings_bank_accounts .choice").attr("data-toggle", "wizard-checkbox");
                $("#savings_bank_accounts[name=job]").attr("type", "checkbox");
                //$("#ComapanyName").removeAttr("placeholder");
                $("#Income").attr("placeholder", "My gross annual income is");
                //$("#ComapanyName").val("");
                //$("#ComapanyName").attr("readonly", true);
                //$("#ComapanyName").removeAttr("required");
                $("#ITR").show();
            }
            $("#hdnRadio").val(type);
            //  alert(s);
        }
    </script>
    <script>

        $(function () {
            var model = '@Html.Raw(Json.Encode(from u in  Model.Citys select new {value=u.Name,id=u.Id }))';
            var availableTags = JSON.parse(model);
            // alert(availableTags);
            $("#my_city").autocomplete({
                minLength: 2,
                source: function (request, response) {
                    var matches = $.map(availableTags, function (acItem) {
                        if (acItem.value.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                            return acItem;
                        }
                    });
                    response(matches);
                }
            });
        });
        $(function () {
            var model = '@Html.Raw(Json.Encode(from u in  Model.Companys select new {value=u.CompanyName,id=u.CompanyId}))';
            var acList = JSON.parse(model);
            $('#ComapanyName').autocomplete({
                minLength: 2,
                source: function (request, response) {
                    var matches = $.map(acList, function (acItem) {
                        if (acItem.value.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                            return acItem;
                        }
                    });
                    response(matches);
                }
            });

        });
        $(document).ready(function () {
            $("#dateOfBirth").datepicker({
                todayHighlight: 'TRUE',
                autoclose: true,
            });
        })
    </script>
</body>
</html>