@model MeriMudra.Models.ViewModels.CityGroupViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<SelectListItem> stateList = ViewBag.StateList;
    List<MeriMudra.Models.City> citiList = ViewBag.CitiList;
}
<div class="container">
    @using (Html.BeginForm("Edit", "CityGroups", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" value="@Model.CityIds" name="CityIds" />
        <input type="hidden" value="@Model.GroupId" name="GroupId" />

        <div class="form-group row">
            <label class="control-label col-md-2" for="GroupName"><b>Group Name</b></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>
            <br />
            <br />
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Following you can change the state from the drop-down and chose the city's to include in allowed city's list.
                    </div>
                    <div class="card-body">
                        <center>
                            <b style="color:red;" class="pull-center">
                                <i>
                                    NOTE: You can only select the city's of 1 state at a time.
                                </i>
                            </b>
                        </center><br />
                        @Html.DropDownList("StateId", stateList, new
                   {
                       onchange = " ReloadCitys(this.options[this.selectedIndex].value)",
                       @style = "display: initial;",
                       @class = "form-control",
                       @id = "StateDDL"
                   })

                        <div id="CitiesCheckList">
                            @{ Html.RenderAction("GetCitiesByState", "CityGroups", new { stateId = 1, selctedCitysList = Model.CityIds }); }
                        </div>
                    </div>
                    <center>
                        <input class="btn btn-lg btn-success pull-center" type="submit" value="save" />
                    </center><br />
                </div>
            </div>
        </div>
    }
</div>


@section scripts {
    <script type="text/javascript">
        function ReloadCitys(stateId) {
            $.ajax({
                 url: '/Admin/CityGroups/GetCitiesByState/@Model.GroupId?stateId='+Number(stateId)+'&selctedCitysList=@Model.CityIds',
                success: function (data) { $('#CitiesCheckList').html(data);}
            });
        }
    </script>
}
