@model MeriMudra.Models.UserCCApplyDetail

@{
    List<MeriMudra.Models.City> city = (List<MeriMudra.Models.City>)ViewData["city"];
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    MeriMudra.Models.ApplicationStatus appStatus = ViewBag.ApplicationStatus;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">User Credit Card Apply Detail</div>
        <div class="card-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.EmployerType)
                            :<span class="text-muted large">
                                @Html.Raw(Model.isMobileNumberVerify ? "Salaried" : "Self-employed")
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.CompanyName)
                            :<span class="text-muted large">
                                @Html.DisplayFor(model => model.CompanyName)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.GrossIncomeOrNetSalary):<span class="text-muted large">
                                @Html.DisplayFor(model => model.GrossIncomeOrNetSalary)
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.Name):<span class="text-muted large">
                                @Html.DisplayFor(model => model.Name)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.DOB):<span class="text-muted large">
                                @Html.Raw(Convert.ToDateTime(Model.DOB).ToString("MM/dd/yyyy").Replace("-", "/"))
                            </span>

                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.CityName):<span class="text-muted large">
                                @{
                                    string cityName = (from c in city where c.Id == Model.CityId select c.Name).FirstOrDefault();

                                }
                                @Html.DisplayFor(modelItem => cityName)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.MobileNumber):<span class="text-muted large">
                                @Html.DisplayFor(model => model.MobileNumber)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.email):<span class="text-muted large">
                                @Html.DisplayFor(model => model.email)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.CreditCardMaxLimit):<span class="text-muted large">
                                @Html.DisplayFor(model => model.CreditCardMaxLimit)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            Mobile Number Verified:<span class="text-muted large">
                                @Html.Raw(Model.isMobileNumberVerify ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-md-3">
                            Email Verified:<span class="text-muted large">
                                @Html.Raw(Model.isEmailVerify ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-md-3">
                            User Active:<span class="text-muted large">
                                @Html.Raw(Model.isUserActive ? "Active" : "Not Active")
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            Application Status:<span class="text-muted large">
                                @Html.Raw(appStatus.Status)
                            </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div><p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".nav-item").removeClass("active");
            $("#CC-Applications").addClass("active");
        });
    </script>
}