@model MeriMudra.Models.City

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">Edit city</div>
            <div class="card-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>State Name</label>
                            @Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @for = "CompanyName" })
                           @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6" style="padding-right:0;padding-left:0;">
                            <div class="col-md-2" style="padding-right:0;padding-left:0;">
                                <input type="submit" value="Update" class="btn btn-primary btn-block">
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right:0;padding-left:0;float:right;">
                            <div class="col-md-2" style="padding-right:0;padding-left:0;float:right;">
                                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary btn-block" })
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(".nav-item").removeClass("active");
            $("#cities").addClass("active");
        });
    </script>
}