@model IEnumerable<MeriMudra.Models.City>

@{
    List<SelectListItem> states = ViewBag.StateList;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int sNo = 0;
}

<h2>Cities List</h2>

@Html.DropDownList("StateId", states, new
{ onchange = "document.location.href = '/Admin/Cities/Index?id=' + this.options[this.selectedIndex].value;",
   @style = "display: initial;",
   @class = "form-control"
})
&nbsp; &nbsp; &nbsp;
<input type="text" class="form-control" id="searchBarForCities" placeholder="Search for Cities.." title="Type in a name of city" style="display: initial;">
&nbsp; &nbsp; &nbsp;
<input type="button" class="btn btn-default" onclick="document.location.href = '/Admin/Cities/Create'" value="Add New City" />
<br />
<br />
<table class="table" id="tbl_cities">
    <tr>
        <th>
            S. No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        sNo = sNo + 1;
        <tr>
            <td>
                @sNo
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@section scripts {
    <script>
        $(document).ready(function () { SearchInTable('tbl_cities', 'searchBarForCities'); });
    </script>
}
