@model MeriMudra.Models.BusinessPartnerProgramme

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">User Credit Card Apply Detail</div>
        <div class="card-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.FullName):
                            <span class="text-muted large">
                                @Html.DisplayFor(model => model.FullName)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.Mobile):
                            <span class="text-muted large">
                                @Html.DisplayFor(model => model.Mobile)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.Email):
                            <span class="text-muted large">
                                @Html.DisplayFor(model => model.Email)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.PAN):
                            <span class="text-muted large">
                                @Html.DisplayFor(model => model.PAN)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.Aadhar):
                            <span class="text-muted large">
                                @Html.DisplayFor(model => model.Aadhar)
                            </span>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.Company):
                            <span class="text-muted large">
                                @Html.DisplayFor(model => model.Company)
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">@Html.DisplayNameFor(model => model.City):
                            <span class="text-muted large">@Html.DisplayFor(model => model.City)
                            </span>
                        </div>
                        <div class="col-md-3">@Html.DisplayNameFor(model => model.CreatedDate):
                            <span class="text-muted large">@Html.DisplayFor(model => model.CreatedDate)
                            </span>
                        </div>
                        <div class="col-md-3">
                            <span class="text-muted large">
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
