@model IEnumerable<MeriMudra.Models.BusinessPartnerProgramme>

@{
    ViewBag.Title = "Business Partner Programmes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Business Partner Programmes</a>
        </li>
        <li class="breadcrumb-item active">List</li>
    </ol>
    <p>
        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary btn-block" })
        </div>           
</p>
    
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable" data-export-column="8" data-export-title="Business Partner Programmes" id="dataTable_button" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PAN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aadhar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Aadhar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>