@model MeriMudra.Models.CreditCardViewModel.CreditCardViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create Carde Detail </h2>

@using (Html.BeginForm("Create", "CreditCards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3 space">
                    @if (string.IsNullOrEmpty(Model.CardImageUrl))
                    {
                        Model.CardImageUrl = "/images/cards/card-1.png";
                    }
                    <img src="@Model.CardImageUrl" class="pull-center" />
                    @Html.TextBoxFor(model => model.CardImageUpload, new { type = "file", })
                    @Html.ValidationMessageFor(model => model.CardImageUpload, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label> card Provider Bank </label>
                        @Html.DropDownList("BankId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CardName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CardName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextAreaFor(m => m.CardDescription, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.CardDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Top reasons to get this Credit Card</div>
            <div class="card-body">
                <label class="fa fa-plus btn btn-success" onclick="ccVM.AddNewReasonToGetThisCard()">  Add New  </label>
                <br />
                <table id="tblTopReasonsToGetThisCreditCard" class="table table-hover">
                    @for (int i = 0; i < Model.ReasonsToGetThisCard.Count; i++)
                    {
                        <tr>
                            <td><label style="width:80px" class="form-control"> @(i + 1)</label></td>
                            <td>
                                <input class="form-control text-box single-line" name="ReasonsToGetThisCard" type="text" value="@Model.ReasonsToGetThisCard[i]">
                            </td>
                            <td><label class="fa fa-minus-circle btn btn-danger" onclick="ccVM. RemovePoint(this)">  </label></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>   <!-- Top reasons to get this Credit Card-->
        <div class="card mb-3">
            <div class="card-header"> BENEFITS & FEATURES <label class="fa fa-plus btn btn-success float-right" onclick="ccVM.AddBenefitsAndFeatures()"> Add New</label> </div>
            <div id="BenefitsAndFeaturesSection" class="card-body">
                <br />
                @for (int i = 0; i < Model._BenefitsAndFeature.Count; i++)
                {
                    <table width="100%" class="table table-hover Heading">
                        <thead class="thead-light">
                            <tr>
                                <th width="10%"> Heading  @(i + 1) </th>
                                <th width="80%"><input class="form-control text-box single-line" name="benefitsAndFeatureHeadding@(i + 1)" type="text" value="@Model._BenefitsAndFeature[i].HeadingText"></th>
                                <th width="10%">
                                    <label class="fa fa-trash btn btn-danger" onclick="ccVM.RemoveHeading(this)">  </label>
                                    <label class="fa fa-plus btn btn-success" onclick="ccVM.AddPointToBenefitsAndFeatures(this)"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model._BenefitsAndFeature[i].Points.Count; j++)
                            {
                                <tr>
                                    <td><label style="width:80px" class="form-control"> @(j + 1)</label></td>
                                    <td><input class="form-control text-box single-line" name="benefitsAndFeaturePoint@(i + 1)" type="text" value="@Model._BenefitsAndFeature[i].Points[j]"></td>
                                    <td><label class="fa fa-minus-circle btn btn-danger" onclick="ccVM. RemovePoint(this)"> </label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
            <div class="card-footer small text-muted"></div>
        </div>   <!--BENEFITS & FEATURES-->
        <div class="card mb-3">
            <div class="card-header"> FEES & CHARGES <label class="fa fa-plus btn btn-success float-right" onclick="ccVM.AddFeesAndCharges()"> Add New</label> </div>
            <div id="FeesAndChargesSection" class="card-body">
                <br />
                @for (int i = 0; i < Model._FeesAndCharge.Count; i++)
                {
                    <table width="100%" class="table table-hover Heading">
                        <thead class="thead-light">
                            <tr>
                                <th width="10%"> Heading  @(i + 1) </th>
                                <th width="80%" colspan="2"><input class="form-control text-box single-line" type="text" name="feesAndChargeHeading@(i+1)" value="@Model._FeesAndCharge[i].HeadingText"></th>
                                <th width="10%">
                                    <label class="fa fa-trash btn btn-danger" onclick="ccVM.RemoveHeading(this)">  </label>
                                    <label class="fa fa-plus btn btn-success" onclick="ccVM.AddPointToFeesAndCharges(this)"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model._FeesAndCharge[i].Points.Count; j++)
                            {
                                <tr>
                                    <td><label style="width:80px" class="form-control"> @(j + 1)</label></td>
                                    <td width="20%"> <input placeholder="key" class="form-control text-box single-line" name="feesAndChargeKey@(i+1)" type="text" value="@Model._FeesAndCharge[i].Points[j].Key"></td>
                                    <td> <input placeholder="description" class="form-control text-box single-line" name="feesAndChargeValue@(i+1)" type="text" value="@Model._FeesAndCharge[i].Points[j].Value"></td>
                                    <td> <label class="fa fa-minus-circle btn btn-danger" onclick="ccVM.RemovePoint(this)"> </label> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @for (int i = 0; i < Model._FeesAndCharge.Count; i++)
                {
                    <table width="100%" class="table table-hover Heading">
                        <thead class="thead-light">
                            <tr>
                                <th width="10%"> Heading  @(i + 1) </th>
                                <th width="80%" colspan="2"><input class="form-control text-box single-line" type="text" name="feesAndChargeHeading@(i+1)" value="@Model._FeesAndCharge[i].HeadingText"></th>
                                <th width="10%">
                                    <label class="fa fa-trash btn btn-danger" onclick="ccVM.RemoveHeading(this)">  </label>
                                    <label class="fa fa-plus btn btn-success" onclick="ccVM.AddPointToFeesAndCharges(this)"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model._FeesAndCharge[i].Points.Count; j++)
                            {
                                <tr>
                                    <td><label style="width:80px" class="form-control"> @(j + 1)</label></td>
                                    <td width="20%"> <input placeholder="key" class="form-control text-box single-line" name="feesAndChargeKey@(i+1)" type="text" value="@Model._FeesAndCharge[i].Points[j].Key"></td>
                                    <td> <input placeholder="description" class="form-control text-box single-line" name="feesAndChargeValue@(i+1)" type="text" value="@Model._FeesAndCharge[i].Points[j].Value"></td>
                                    <td> <label class="fa fa-minus-circle btn btn-danger" onclick="ccVM.RemovePoint(this)"> </label> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
            <div class="card-footer small text-muted"></div>
        </div>   <!-- FEES & CHARGES -->
        <div class="card mb-3">
            <div class="card-header">REDEEM REWARDS</div>
            <div class="card-body">
                <label class="fa fa-plus btn btn-success" onclick="AddNewREDEEM_REWARDS()">  Add New</label>
                <br />
                <table id="tblREDEEM_REWARDS" class="table table-hover">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td> HEADING </td>
                                    <td>
                                        <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value="">
                                    </td>
                                    <td><label class="fa fa-close btn btn-danger" onclick="RemoveBENEFITS_FEATURES(this)">  </label></td>
                                </tr>
                                <tr>
                                    <td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="1"> </td>
                                    <td><input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>
                                    <td><label class="fa fa-close btn btn-danger" onclick="ccVM.ccVM. RemovePoint(this)"> </label></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><label class="fa fa-plus btn btn-primary" onclick="AddNewREDEEM_REWARDS_Description(this)">Add More</label></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>   <!-- REDEEM REWARDS-->
        <div class="card mb-3">
            <div class="card-header">BORROW PRIVILEGES</div>
            <div class="card-body">
                <label class="fa fa-plus btn btn-success" onclick="AddBORROW_PRIVILEGES()">  Add New</label>
                <br />
                <table id="tblBORROW_PRIVILEGES" class="table table-hover">
                    <tr>
                        <td>main heading</td>
                        <td colspan="2"><input placeholder="Personal Concierge Services" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td colspan="2"><input placeholder="Call your concierge for help with planning a party, sending flowers, making dining reservations, for travel assistance." class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="1"> </td>
                        <td><input placeholder="key" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>
                        <td><input placeholder="description" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>
                        <td><label class="fa fa-close btn btn-danger" onclick="ccVM. RemovePoint(this)">  </label></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>   <!-- BORROW PRIVILEGES-->
    </div>
    <input type="submit" value="save" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script src="~/Areas/Admin/Scripts/ccVM.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ResumeUpload').change(function (event) {
                $('#ResumeUrl').attr('src', URL.createObjectURL(event.target.files[0]));
            });
        });
    </script>
}

@*<script type="text/javascript">

        function AddNewBENEFITS_FEATURES() {
            var tbl = "<tr>";
            tbl += '<td>';
            tbl += '<table width="100%">';

            tbl += "<tr>";
            tbl += '<td>HEADING</td>';
            tbl += '<td><input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick="RemoveBENEFITS_FEATURES(this)">  </label></td>';
            tbl += '</tr>';
            tbl += '<tr>';
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="1"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            tbl += '<tr><td></td><td><label class="fa fa-plus btn btn-primary" onclick="AddNewBENEFITS_FEATURES_Description(this)">Add More </label></td><td></td></tr>';

            tbl += '</table>';
            tbl += '</td>';
            tbl += '</tr>';
            $("#tblBENEFITS_FEATURES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
        function AddNewBENEFITS_FEATURES_Description(obj) {
            var $tr = $(obj).parent().parent();
            var rowCount = Number($(obj).parent().parent().parent().parent().parent().find("tr").length) - 1;
            var tbl = "<tr>";
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            $tr.prev().after(tbl);
            //$("#tblBENEFITS_FEATURES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
        function RemoveBENEFITS_FEATURES(obj) {
            var $tr = $(obj).parent().parent().parent().parent().parent();
            $tr.remove();
        }
        function AddFEES_CHARGES() {
            var rowCount = Number($('#tblFEES_CHARGES tr').length);
            var tbl = "<tr>";
            tbl += '<td> <input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"></td >';
            tbl += "<td><input placeholder='key' class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td>";
            tbl += '<td><input placeholder="description" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += "<td><label class='fa fa-close btn btn-danger' onclick=' RemovePoint(this)'></label></td>";
            tbl += "</tr>";
            $("#tblFEES_CHARGES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }

        function AddBORROW_PRIVILEGES() {
            var rowCount = Number($('#tblBORROW_PRIVILEGES tr').length) - 1;
            var tbl = "<tr>";
            tbl += '<td> <input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"></td >';
            tbl += "<td><input placeholder='key' class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td>";
            tbl += '<td><input placeholder="description" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += "<td><label class='fa fa-close btn btn-danger' onclick=' RemovePoint(this)'></label></td>";
            tbl += "</tr>";
            $("#tblBORROW_PRIVILEGES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
        function AddNewREDEEM_REWARDS() {
            var tbl = "<tr>";
            tbl += '<td>';
            tbl += '<table width="100%">';

            tbl += "<tr>";
            tbl += '<td>HEADING</td>';
            tbl += '<td><input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick="RemoveBENEFITS_FEATURES(this)">  </label></td>';
            tbl += '</tr>';
            tbl += '<tr>';
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="1"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            tbl += '<tr><td></td><td><label class="fa fa-plus btn btn-primary" onclick="AddNewREDEEM_REWARDS_Description(this)">Add More </label></td><td></td></tr>';

            tbl += '</table>';
            tbl += '</td>';
            tbl += '</tr>';
            $("#tblREDEEM_REWARDS").append(tbl);
        }
        function AddNewREDEEM_REWARDS_Description(obj) {
            var $tr = $(obj).parent().parent();
            var rowCount = Number($(obj).parent().parent().parent().parent().parent().find("tr").length) - 1;
            var tbl = "<tr>";
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            $tr.prev().after(tbl);
            //$("#tblBENEFITS_FEATURES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
    </script>*@
