@model MeriMudra.Models.CreditCardViewModel.CreditCardViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-outline-info fa fa-backward" onclick="location.href = '/Admin/CreditCards/Index';"> Back to credit card list</button>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card mb-3">
        <div class="card-body">
            @Html.Partial("CcBasicPartialView", Model);
            <hr style="width:70%" />
            <hr style="width:70%" />
            <h4>
                <u> Top reasons to get this Credit Card</u>
            </h4>
            <ul>
                @for (int i = 0; i < Model.ReasonsToGetThisCard.Count; i++)
                {
                    <li> @Model.ReasonsToGetThisCard[i] </li>
                }
            </ul>
        </div>

    </div>   <!-- Top reasons to get this Credit Card-->


</div>

<div class="st-tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" style="width:25%">
            <a class="nav-link active" id="tab-1" data-toggle="tab" href="#service1" role="tab" aria-controls="tab-1" aria-selected="true">Benefits & Features</a>
        </li>
        <li class="nav-item" style="width:25%">
            <a class="nav-link" id="tab-2" data-toggle="tab" href="#service2" role="tab" aria-controls="tab-2" aria-selected="false">Fees & Charges</a>
        </li>
        <li class="nav-item" style="width:25%">
            <a class="nav-link" id="tab-3" data-toggle="tab" href="#service3" role="tab" aria-controls="tab-3" aria-selected="false">Redeem Rewards</a>
        </li>
        <li class="nav-item" style="width:25%">
            <a class="nav-link" id="tab-4" data-toggle="tab" href="#service4" role="tab" aria-controls="tab-4" aria-selected="false">Borrow Privileges</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="service1" role="tabpanel" aria-labelledby="tab-1">
            <div class="card mb-3">
                <div class="card-body">
                    <label class="fa fa-edit btn btn-outline-secondary float-right" onclick="ccVM.AddBenefitsAndFeatures()"> Edit </label>
                    <ol>
                        @for (int i = 0; i < Model._BenefitsAndFeature.Count; i++)
                        {
                            <li>
                                <b> @Model._BenefitsAndFeature[i].HeadingText</b>
                                <ul>
                                    @for (int j = 0; j < Model._BenefitsAndFeature[i].Points.Count; j++)

                                    {
                                        <li>@Model._BenefitsAndFeature[i].Points[j]</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ol>
                </div>
            </div>   <!--BENEFITS & FEATURES-->
        </div>
        <div class="tab-pane fade" id="service2" role="tabpanel" aria-labelledby="tab-2">
            <div class="card mb-3">
                <div id="FeesAndChargesSection" class="card-body">
                    <label class="fa fa-edit btn btn-outline-secondary float-right" onclick="ccVM.AddFeesAndCharges()"> Edit</label>
                    <ol>
                        @for (int i = 0; i < Model._FeesAndCharge.Count; i++)
                        {
                            <li>
                                <h4> @Model._FeesAndCharge[i].HeadingText</h4>
                                <table style="margin-left:50px;">
                                    @for (int j = 0; j < Model._FeesAndCharge[i].Points.Count; j++)
                                    {
                                        <tr>
                                            <td width="20%"><b>@Model._FeesAndCharge[i].Points[j].Key: </b></td>
                                            <td width="80%">@Model._FeesAndCharge[i].Points[j].Value</td>
                                        </tr>
                                    }
                                </table>
                            </li>
                        }
                    </ol>
                </div>

            </div> <!-- FEES & CHARGES -->
        </div>
        <div class="tab-pane fade" id="service3" role="tabpanel" aria-labelledby="tab-3">
            <div class="card mb-3">
                <div class="card-body">
                    <label class="fa fa-edit btn btn-outline-secondary float-right" onclick="ccVM.AddFeesAndCharges()"> Edit</label>
                    <ol>
                        @for (int i = 0; i < Model._RedeemReward.Count; i++)
                        {
                            <li>
                                <b> @Model._RedeemReward[i].HeadingText</b>
                                <ul>
                                    @*@if (!string.IsNullOrEmpty(@Model._RedeemReward[i].SubHeadingText))
                                        {
                                            <li>@Model._RedeemReward[i].SubHeadingText</li>
                                        }*@
                                    @for (int j = 0; j < Model._RedeemReward[i].Points.Count; j++)

                                    {
                                        <li>@Model._RedeemReward[i].Points[j]</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ol>
                </div>

            </div> <!-- REDEEM REWARDS-->
        </div>
        <div class="tab-pane fade" id="service4" role="tabpanel" aria-labelledby="tab-4">
            <div class="card mb-3">
                <div class="card-body">
                    <label class="fa fa-edit btn btn-outline-secondary float-right" onclick="ccVM.AddFeesAndCharges()"> Edit</label>
                    <ol>
                        @for (int i = 0; i < Model._BorrowPrivilege.Count; i++)
                        {
                            <li>
                                <h4> @Model._BorrowPrivilege[i].HeadingText</h4>
                                <table style="margin-left:50px;">
                                    @for (int j = 0; j < Model._BorrowPrivilege[i].Points.Count; j++)
                                    {
                                        <tr>
                                            <td width="20%"><b>@Model._BorrowPrivilege[i].Points[j].Key: </b></td>
                                            <td width="80%">@Model._BorrowPrivilege[i].Points[j].Value</td>
                                        </tr>
                                    }
                                </table>
                            </li>
                        }
                    </ol>
                </div>

            </div> <!-- BORROW PRIVILEGES-->
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Areas/Admin/Scripts/ccVM.js"></script>
    @*  <script type="text/javascript">
            $(document).ready(function () {
                $('#CardImageUpload').change(function (event) {
                    $('#CardImageUrl').attr('src', URL.createObjectURL(event.target.files[0]));
                });
            });
        </script>*@
}

@*<script type="text/javascript">

        function AddNewBENEFITS_FEATURES() {
            var tbl = "<tr>";
            tbl += '<td>';
            tbl += '<table width="100%">';

            tbl += "<tr>";
            tbl += '<td>HEADING</td>';
            tbl += '<td><input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick="RemoveBENEFITS_FEATURES(this)">  </label></td>';
            tbl += '</tr>';
            tbl += '<tr>';
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="1"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            tbl += '<tr><td></td><td><label class="fa fa-plus btn btn-primary" onclick="AddNewBENEFITS_FEATURES_Description(this)">Add More </label></td><td></td></tr>';

            tbl += '</table>';
            tbl += '</td>';
            tbl += '</tr>';
            $("#tblBENEFITS_FEATURES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
        function AddNewBENEFITS_FEATURES_Description(obj) {
            var $tr = $(obj).parent().parent();
            var rowCount = Number($(obj).parent().parent().parent().parent().parent().find("tr").length) - 1;
            var tbl = "<tr>";
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            $tr.prev().after(tbl);
            //$("#tblBENEFITS_FEATURES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
        function RemoveBENEFITS_FEATURES(obj) {
            var $tr = $(obj).parent().parent().parent().parent().parent();
            $tr.remove();
        }
        function AddFEES_CHARGES() {
            var rowCount = Number($('#tblFEES_CHARGES tr').length);
            var tbl = "<tr>";
            tbl += '<td> <input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"></td >';
            tbl += "<td><input placeholder='key' class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td>";
            tbl += '<td><input placeholder="description" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += "<td><label class='fa fa-close btn btn-danger' onclick=' RemovePoint(this)'></label></td>";
            tbl += "</tr>";
            $("#tblFEES_CHARGES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }

        function AddBORROW_PRIVILEGES() {
            var rowCount = Number($('#tblBORROW_PRIVILEGES tr').length) - 1;
            var tbl = "<tr>";
            tbl += '<td> <input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"></td >';
            tbl += "<td><input placeholder='key' class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td>";
            tbl += '<td><input placeholder="description" class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += "<td><label class='fa fa-close btn btn-danger' onclick=' RemovePoint(this)'></label></td>";
            tbl += "</tr>";
            $("#tblBORROW_PRIVILEGES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
        function AddNewREDEEM_REWARDS() {
            var tbl = "<tr>";
            tbl += '<td>';
            tbl += '<table width="100%">';

            tbl += "<tr>";
            tbl += '<td>HEADING</td>';
            tbl += '<td><input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick="RemoveBENEFITS_FEATURES(this)">  </label></td>';
            tbl += '</tr>';
            tbl += '<tr>';
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="1"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            tbl += '<tr><td></td><td><label class="fa fa-plus btn btn-primary" onclick="AddNewREDEEM_REWARDS_Description(this)">Add More </label></td><td></td></tr>';

            tbl += '</table>';
            tbl += '</td>';
            tbl += '</tr>';
            $("#tblREDEEM_REWARDS").append(tbl);
        }
        function AddNewREDEEM_REWARDS_Description(obj) {
            var $tr = $(obj).parent().parent();
            var rowCount = Number($(obj).parent().parent().parent().parent().parent().find("tr").length) - 1;
            var tbl = "<tr>";
            tbl += '<td><input style="width:80px" class="form-control text-box single-line" id="SequenceNumber" name="SequenceNumber" type="text" value="' + rowCount + '"> </td>';
            tbl += '<td>   <input class="form-control text-box single-line" id="CupcakeQuantities" name="CupcakeQuantities" type="text" value=""></td>';
            tbl += '<td><label class="fa fa-close btn btn-danger" onclick=" RemovePoint(this)"> </label></td>';
            tbl += '</tr>';
            $tr.prev().after(tbl);
            //$("#tblBENEFITS_FEATURES").append(tbl);
            //  $("#tblTopReasonsToGetThisCreditCard").append("<tr><td> 3. </td ><td><input class='form-control text-box single-line' id='CupcakeQuantities' name='CupcakeQuantities' type='text' value=''></td> <td><label class='fa fa-close btn btn-danger'></label></td> </tr>");
            //    alert($("#tblTopReasonsToGetThisCreditCard").attr('rows').length);
        }
    </script>*@
