@model IEnumerable<MeriMudra.Models.CreditCard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardImageUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CardId })
        </td>
    </tr>
}

</table>
