@model MeriMudra.Models.CreditCardViewModel.CreditCardViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-outline-info fa fa-backward pull-right" onclick="location.href = '/Admin/CreditCards/Index';"> Back to credit card list</button>
<button class="btn btn-outline-info fa fa-backward" onclick="location.href = '/Admin/CreditCards/Details/1';"> Back to @Model.CardName credit card Details</button>
@Html.Partial("CcBasicPartialView", Model)
@using (Html.BeginForm("SaveCcFeesAndCharges", "CreditCards"))
{
    <div class="form-horizontal">
        @Html.TextBoxFor(model => model.CardId, new { type = "hidden" })
        <br />
        <div class="card mb-3">
            <div class="card-header">  FEES & CHARGES <label class="fa fa-plus btn btn-success float-right" onclick="ccVM.AddFeesAndCharge()"> Add New</label> </div>
            <div id="CcInfoSection" class="card-body">
                <br />
                @for (int i = 0; i < Model._FeesAndCharge.Count; i++)
                {
                    <table width="100%" class="table table-hover Heading">
                        <thead class="thead-light">
                            <tr>
                                <th width="10%"> Heading </th>
                                <th width="80%" colspan="2"><input class="form-control text-box single-line" name="Headding@(i + 1)" type="text" value="@Model._FeesAndCharge[i].HeadingText"></th>
                                <th width="10%">
                                    <label class="fa fa-trash btn btn-danger" onclick="ccVM.RemoveHeading(this)">  </label>
                                    <label class="fa fa-plus btn btn-success" onclick="ccVM.AddPointToFeesAndCharge(this,@(i + 1))"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model._FeesAndCharge[i].Points.Count; j++)
                            {
                                <tr>
                                    <td><label style="width:80px" class="form-control"> @(j + 1)</label></td>
                                    <td width="20%"> <input placeholder="key" class="form-control text-box single-line" name="Heading@(i + 1)Key@(j + 1)" type="text" value="@Model._FeesAndCharge[i].Points[j].Key"></td>
                                    <td>     <input placeholder="description" class="form-control text-box single-line" name="Heading@(i + 1)Value@(j+1)" type="text" value="@Model._FeesAndCharge[i].Points[j].Value"></td>
                                    <td> <label class="fa fa-minus-circle btn btn-danger" onclick="ccVM.RemovePoint(this)"> </label> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <input type="hidden" name="maxHeadingId" id="maxHeadingId" value="@Model._FeesAndCharge.Count" />
            </div>

            <div class="card-footer small text-muted">
                <center>
                    <input class="btn btn-lg btn-success pull-center" type="submit" value="save" />
                </center>
            </div>
        </div>   <!--_Fees And Charge-->
    </div>
}
@section scripts {
    <script src="~/Areas/Admin/Scripts/ccVM.js"></script>
}
