@model MeriMudra.Models.ViewModels.CreditCardViewModel
@{
    ViewBag.Title = " Eligibility Criteria";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<MeriMudra.Models.CityGroup> CityGroups = ViewBag.CityGroups;
}
<button class="btn btn-outline-info fa fa-backward pull-right" onclick="location.href = '/Admin/CreditCards/Index';"> Back to credit card list</button>
<button class="btn btn-outline-info fa fa-backward" onclick="location.href = '/Admin/CreditCards/Details/1';"> Back to @Model.CardName credit card Details</button>
@Html.Partial("CcBasicPartialView", Model)
@using (Html.BeginForm("SaveCcEligibilityCriteria", "CreditCards"))
{
    <div class="form-horizontal">
        @Html.TextBoxFor(model => model.CardId, new { type = "hidden" })
        <br />
        <div class="card mb-3">
            <div class="card-header">
                Eligibility Criteria For @Model.CardName
            </div>
            <div id=" EligibilityCriteriaSection" class="card-body">

                <div class="table-responsive">
                    <table class="table" data-export-title="test">
                        <thead>
                            <tr>
                                <th>S. No</th>
                                <th>City Group Name</th>
                                <th>No. Of Citys</th>
                                <th>Min RTI</th>
                                <th>Min Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.EligibilityCriteria.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.EligibilityCriteria[i].CityGroup.GroupName</td>
                                    <td>@Model.EligibilityCriteria[i].CityGroup.IncludedCitys.Count</td>
                                    <td>@Model.EligibilityCriteria[i].MinItr</td>
                                    <td>@Model.EligibilityCriteria[i].MinSalary</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered dataTable table-hover" data-export-title="test" id="dataTable">
                        <thead>
                            <tr>
                                <th> S.No.</th>
                                <th> Group Name</th>
                                <th> Citys </th>
                                <th>Min ITR</th>
                                <th>Min Salary</th>
                                <th>Add / Remove</th>

                            </tr>
                        </thead>

                        <tbody>

                            @for (int i = 0; i < CityGroups.Count; i++)
                            {
                                <tr onMouseOver="this.style.cursor='pointer'" onclick="IncluedTogal(this)">
                                    <td> @(i + 1) </td>
                                    <td> @CityGroups[i].GroupName </td>
                                    <td> @CityGroups[i].CityIds.Split(',').Count() </td>
                                    <td> <input type="text" placeholder="Min ITR" class="form-control text-box single-line" /></td>
                                    <td> <input type="text" placeholder="Min Salary" class="form-control text-box single-line" /></td>
                                    <td>
                                        <div class="btn-group">
                                            <label class="fa fa-plus btn btn-success" onclick="#"></label>
                                            <label class="fa fa-minus-circle btn btn-danger" onclick="#"> </label>
                                        </div>
                                    </td>
                                </tr>}
                        </tbody>
                    </table>
                </div>                   <input type="hidden" name="maxHeadingId" id="maxHeadingId" value="@Model._BenefitsAndFeature.Count" />
            </div>
            <div class="card-footer small text-muted">
                <center>
                    <input class="btn btn-lg btn-success pull-center" type="submit" value="save" />
                </center>
            </div>
        </div>   <!--BENEFITS & FEATURES-->
    </div>
}
@section scripts {
    <script src="~/Areas/Admin/Scripts/ccVM.js"></script>
    <script>
        function IncluedTogal(obj) {

            $(obj).toggleClass("AddedGroup");
            //$(obj).css('background-color', 'rgba(51, 218, 49, 0.28)');
        }
    </script>
}
<style type="text/css">
    .AddedGroup {
        background-color: rgba(51, 218, 49, 0.28) !important;
    }
</style>
