@model MeriMudra.Models.ViewModels.CreditCardViewModel

@{
    ViewBag.Title = "CreditCardDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- content start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper-content bg-white pinside40">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card-details">
                            <div class="card-head-sections">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <!-- card listing -->
                                        <div class="card-img">
                                            <a href="#">
                                                <img src="@Model.CardImageUrl" alt="Borrow - A Loan Company Website Templates">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <h2 class="card-name"><a href="#" class="title">@Model.CardName</a></h2>
                                        <p>@Model.CardDescription</p>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12"><a href="/CreditCard/CreditCard/@Model.CardId" class="btn btn-default btn-sm">Apply Now</a></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h3>Top reasons to get the Rewards Credit Card</h3>
                                    <ul class="listnone bullet bullet-check-circle-default">
                                        @foreach (var tr in Model.ReasonsToGetThisCard)
                                        {
                                            <li>@tr</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="st-tabs">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="tab-1" data-toggle="tab" href="#service1" role="tab" aria-controls="tab-1" aria-selected="true">Benefits & Features</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tab-2" data-toggle="tab" href="#service2" role="tab" aria-controls="tab-2" aria-selected="false">Fees & Charges</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tab-3" data-toggle="tab" href="#service3" role="tab" aria-controls="tab-3" aria-selected="false">Redeem Rewards</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tab-4" data-toggle="tab" href="#service4" role="tab" aria-controls="tab-4" aria-selected="false">Borrow Privileges</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="service1" role="tabpanel" aria-labelledby="tab-1">
                                                @foreach (var bf in Model._BenefitsAndFeature)
                                                {<h3>@bf.HeadingText</h3>
                                                <ul class="listnone bullet bullet-check-circle-default">
                                                    @foreach (var p in bf.Points)
                                                    {
                                                        <li>@p</li>}
                                                </ul>
                                            }
                                            </div>
                                            <div class="tab-pane fade" id="service2" role="tabpanel" aria-labelledby="tab-2">
                                                @foreach (var fc in Model._FeesAndCharge)
                                                {
                                                    <h3>@fc.HeadingText</h3>
                                                    <div class="fee-charges-table">
                                                        <ul class="list-group">
                                                            @foreach (var p in fc.Points)
                                                            {
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">@p.Key</div>
                                                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">@p.Value</div>
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }   <p>For further details, please <a href="/CreditCard/CreditCard/@Model.CardId">Click here</a></p>

                                            </div>
                                            <div class="tab-pane fade" id="service3" role="tabpanel" aria-labelledby="tab-3">
                                                @foreach (var rr in Model._RedeemReward)
                                                {<h3>@rr.HeadingText</h3>
                                                <ul class="listnone bullet bullet-check-circle-default">
                                                    @foreach (var p in rr.Points)
                                                    {
                                                        <li>@p</li>}
                                                </ul>
                                            }
                                            </div>
                                            <div class="tab-pane fade" id="service4" role="tabpanel" aria-labelledby="tab-4">
                                                @foreach (var bp in Model._BorrowPrivilege)
                                                {
                                                    <h3>@bp.HeadingText</h3>
                                                    <p>@bp.SubHeadingText</p>
                                                    <div class="fee-charges-table">
                                                        <ul class="list-group">
                                                            @foreach (var p in bp.Points)
                                                            {
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">@p.Key</div>
                                                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">@p.Value</div>
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- Tab panes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card listing -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content end -->
