@model IEnumerable<MeriMudra.Models.Bank>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> List
            @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary btn-block col-md-2 float-right" })
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="dataTable" data-export-title="test">
                    <tr>
                        <th style="width:80%">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th style="width:20%"></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BankId }) |
                                <a href="#" data-toggle="modal" data-target="#exampleDeleteBox" onclick="addActionInConfirmBox('Banks', 'Delete', @item.BankId);">Delete</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".nav-item").removeClass("active");
            $("#banks").addClass("active");
        });
    </script>
}